@font-face {
    font-family: 'din-light';
    src: url('../fonts/DINLIGHT.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din';
    src: url('../fonts/DINREGULAR.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-medium';
    src: url('../fonts/DINMEDIUM.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-bold';
    src: url('../fonts/DINBOLD.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-black';
    src: url('../fonts/DINBLACK.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'rukola';
    src: url('../fonts/Rukola.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}

