@font-face {
    font-family: 'din-light';
    src: url('../webfonts/dinLight.otf') format("opentype"), url('../webfonts/DIN-Light.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din';
    src: url('../webfonts/din.otf') format("opentype"), url('../webfonts/DIN-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-medium';
    src: url('../webfonts/dinMedium.otf') format("opentype"), url('../webfonts/DIN-Medium.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-bold';
    src: url('../webfonts/dinBold.otf') format("opentype"), url('../webfonts/DIN-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-black';
    src: url('../webfonts/dinBlack.otf') format("opentype"), url('../webfonts/DIN-Black.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'rukola';
    src: url('../webfonts/Rukola.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}

