@font-face {
    font-family: 'din-light';
    src: url('../fonts/DinLight.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din';
    src: url('../fonts/DinRegular.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-medium';
    src: url('../fonts/DinMedium.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-bold';
    src: url('../fonts/DinBold.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'din-black';
    src: url('../fonts/DinBlack.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'rukola';
    src: url('../fonts/Rukola.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}

